@media screen and (max-height: 719px) {
  .container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-image: linear-gradient(0deg, rgba(6, 89, 51, 1) 0%, rgba(5, 7, 6, 1) 100%);
    background-size: auto;
    background-position: 0% 0%;
    background-repeat: repeat;
  }

  .nav {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: space-between;
    align-items: center;
  }

  .navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  .div-line,
  .div-from,
  .div-to {
    display: flex;
  }

  #line {
    width: 150px;
  }

  #from,
  #to {
    width: 300px;
  }

  .btn {
    width: 140px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  .btn-modification {
    width: 128px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  label {
    font-weight: bold;
    color: white;
    padding: 10px;
    font-family: sans-serif;
  }

  label[for='manipulations'] {
    color: black;
  }

  select {
    text-align: center;
    color: black;
    text-align: center;
    font-size: 17px;
    height: 40px;
  }

  #map {
    grid-column: 1;
    grid-row: 2;
    border: 4px solid #222222;
    height: 89vh;
  }
  .right {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-top: 4px solid #222222;
    border-right: 4px solid #222222;
    border-bottom: 4px solid #222222;
    background-color: seashell;
    height: 89vh;
  }

  .form {
    width: 100%;
    height: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-bottom: 4px solid #222222;
  }

  .manipulations {
    display: flex;
    flex-direction: column;
    height: 75%;
  }
  #addline {
    /* height: 20%; */
    width: 30%;
    align-self: center;
    justify-self: end;
    margin-bottom: 10px;
  }

  .Lines {
    height: 45%;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
  }

  .lines {
    min-width: 107px;
    height: 25px;
    color: #fff;
    padding: 3px 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
  }

  .tramway {
    color: black;
  }

  .buttons {
    border-top: 4px solid #222222;
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  #getsegment:disabled {
    box-shadow: 0 0;
    cursor: not-allowed;
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }

  #getsegment:disabled:hover {
    box-shadow: 0 0;
    cursor: not-allowed;
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    top: 0;
  }

  .notification {
    min-width: 20%;
    height: 6vh;
    transform-origin: right;
    margin-right: 2px;
    background-image: linear-gradient(to top, rgba(213, 102, 102, 1) 0%, rgba(245, 170, 170, 1) 53%, rgba(230, 168, 168, 1) 99%);
    background-size: auto;
    background-position: 0% 0%;
    background-repeat: repeat;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
  }

  .identifier {
    font-weight: bold;
    margin-left: 5px;
  }

  .text {
    margin-left: 5px;
    font-size: 0.8rem;
  }
}

.prompt-new-station {
  width: 400px;
  height: 260px;
  border: 2px solid black;
  border-radius: 8px;
  background-color: #000000;
  position: absolute;
  top: 20%;
  left: 10%;
  transform: translate(-20%, -10%);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  /* z-index: 1000; */
}

.prompt-title {
  min-height: 15%;
  text-align: center;
  color: white;
  font-family: Oswald;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid black;
}

.prompt-title #station-title {
  flex-grow: 2;
  font-family: Oswald;
}

img {
  width: 20px;
  height: 20px;
  margin-right: 7px;
}

.prompt-content {
  height: 68%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.prompt-buttons {
  min-height: 17%;
  border-top: 2px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.prompt-buttons button {
  width: 100px;
  height: 40px;
  line-height: 30px;
  border-radius: 20px;
  border: 3px solid rgb(255, 255, 255);
  font-size: 22px;
  font-family: Oswald;
  color: black;
}

.input label {
  display: inline-block;
  min-width: 100px;
  font-size: 22px;
  height: 30px;
  line-height: 36px;
  font-family: Oswald;
  text-decoration: underline double #140a53 1px;
  color: black;
  text-align: justify;
}

.input input {
  display: inline-block;
  min-width: 270px;
  border: 2px solid black;
  height: 30px;
  font-size: 18px;
  font-family: Oswald;
  color: black;
}

.input input:focus {
  outline: 2px solid rgb(3, 203, 3);
  background-color: rgb(250, 250, 250);
}

.input {
  height: 30px;
  display: flex;
  align-items: center;
}

.new-line {
  width: 350px;
  height: 180px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 25%;
  left: 40%;
  transform: translate(-25%, -40%);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  /* z-index: 5000; */
}
.new-line .title {
  text-align: center;
  color: white;
  font-family: Oswald;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid black;
  height: 25%;
}

.new-line .title #line-title {
  flex-grow: 2;
  font-family: Oswald;
}

.new-line .line-name {
  height: 50%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  background-color: white;
}

.new-line .line-name label {
  color: black;
  font-family: Oswald;
  font-size: 22px;
  display: inline-block;
  margin-right: 5px;
}

.new-line .line-name input {
  color: black;
  font-family: Oswald;
  font-size: 18px;
  min-width: 270px;
  display: inline-block;
  border: 2px solid black;
}

.new-line .buttons {
  height: 25%;
  color: #000000;
  border: 0;
}

.new-line .buttons button {
  width: 118px;
  height: 40px;
  border-radius: 20px;
  border: 3px solid black;
  font-size: 22px;
  font-family: Oswald;
  color: black;
}

.prompt-add {
  background-color: #1df266;
}

.prompt-add:hover {
  background-color: white;
}

.prompt-cancel {
  background-color: #dc2e2e;
}
.prompt-cancel:hover {
  background-color: white;
}
