* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 10% 90%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-image: linear-gradient(0deg, rgba(6, 89, 51, 1) 0%, rgba(5, 7, 6, 1) 100%);
  background-size: auto;
  background-position: 0% 0%;
  background-repeat: repeat;
  background-color: rgba(8, 174, 234, 1);
}

@media screen and (max-height: 768px) {
  #map {
    grid-column: 1;
    grid-row: 2;
    border: 4px solid rgb(4, 61, 23);
    min-height: 80vh;
    max-height: 88vh;
  }
}

@media screen and (max-height: 1080px) {
  #map {
    grid-column: 1;
    grid-row: 2;
    border: 4px solid rgb(4, 61, 23);
    height: 89vh;
  }
  .right {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    border-top: 4px solid rgb(4, 61, 23);
    border-right: 4px solid rgb(4, 61, 23);
    border-bottom: 4px solid rgb(4, 61, 23);
    background-color: rgb(129, 9, 9);
    height: 89vh;
  }
  .stations-list {
    display: flex;
    align-items: center;
    grid-area: 1 / 1 / 2 / 3;
    height: 8vh;
  }
}

.Lines {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 4px solid rgb(4, 61, 23);
  height: 75%;
}

.clear {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  min-height: 25%;
  box-sizing: border-box;
}

.clear-all {
  box-sizing: border-box;
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #ef233c;
  box-shadow: 0 5px #d90429;
}
.clear-all:hover {
  box-shadow: 0 3px #d90429;
  top: 1px;
}
.clear-all:active {
  box-shadow: 0 0 #d90429;
  top: 5px;
}

.center {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #2c36cf;
  box-shadow: 0 5px #0412d9;
}
.center:hover {
  box-shadow: 0 3px #0412d9;
  top: 1px;
}
.center:active {
  box-shadow: 0 0 #0412d9;
  top: 5px;
}

.lines {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #3d348b;
  box-shadow: 0 5px #2c0b8e;
  margin: 10px;
}
.lines:hover {
  box-shadow: 0 3px #2c0b8e;
  top: 1px;
}
.lines:active {
  box-shadow: 0 0 #2c0b8e;
  top: 5px;
}

.leaflet-vertex-icon {
  width: 5px !important;
  height: 5px !important;
}
