* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: lightseagreen;
}

@media screen and (max-height: 719px) {
  .container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 10% 90%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-image: linear-gradient(0deg, rgba(6, 89, 51, 1) 0%, rgba(5, 7, 6, 1) 100%);
    background-size: auto;
    background-position: 0% 0%;
    background-repeat: repeat;
  }
  #map {
    grid-column: 1;
    grid-row: 2;
    border: 4px solid rgb(4, 61, 23);
    min-height: 80vh;
    max-height: 89vh;
  }
  .right {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    border-top: 4px solid rgb(4, 61, 23);
    border-right: 4px solid rgb(4, 61, 23);
    border-bottom: 4px solid rgb(4, 61, 23);
    background-color: #9ca4c4;
    height: 89vh;
  }
  .nav {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-direction: row;
    height: 8vh;
    justify-content: space-between;
    align-items: end;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
  }

  .modifications {
    align-self: flex-end;
  }

  .from,
  .to,
  .line {
    display: flex;
  }

  #from,
  #to {
    min-width: 300px;
    max-width: 300px;
  }

  #getsegment,
  #addline {
    width: 150px;
  }
}

@media screen and (min-height: 720px) and (min-width: 1600px) {
  .container {
    display: grid;
    grid-template-columns: 5fr 1fr;
    background-image: linear-gradient(0deg, rgba(6, 89, 51, 1) 0%, rgba(5, 7, 6, 1) 100%);
    background-size: auto;
    background-position: 0% 0%;
    background-repeat: repeat;
  }
  #map {
    grid-column: 1;
    grid-row: 2;
    border: 4px solid rgb(4, 61, 23);
    height: 93vh;
  }
  .right {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    border-top: 4px solid rgb(4, 61, 23);
    border-right: 4px solid rgb(4, 61, 23);
    border-bottom: 4px solid rgb(4, 61, 23);
    background-color: #9ca4c4;
    height: 93vh;
  }
  .nav {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-direction: row;
    height: 6vh;
    justify-content: space-between;
    align-items: center;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
  }

  .from,
  .to,
  .line {
    display: flex;
    /* margin-right: 100px; */
  }

  #from,
  #to {
    min-width: 300px;
    max-width: 300px;
  }

  #getsegment,
  #addline {
    width: 150px;
  }
}

.Lines {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 4px solid rgb(4, 61, 23);
  height: 60%;
}

.clear {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 40%;
  box-sizing: border-box;
}

.clear-all {
  box-sizing: border-box;
  width: 100px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #ef233c;
  box-shadow: 0 5px #d90429;
}
.clear-all:hover {
  box-shadow: 0 3px #d90429;
  top: 1px;
}
.clear-all:active {
  box-shadow: 0 0 #d90429;
  top: 5px;
}

.center {
  width: 100px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #2c36cf;
  box-shadow: 0 5px #0412d9;
}
.center:hover {
  box-shadow: 0 3px #0412d9;
  top: 1px;
}
.center:active {
  box-shadow: 0 0 #0412d9;
  top: 5px;
}

.lines {
  min-width: 100px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;

  margin: 10px;
}
.bus {
  background: #3d348b;
  box-shadow: 0 5px #2c0b8e;
}

.bus:hover {
  box-shadow: 0 3px #2c0b8e;
  top: 1px;
}
.bus:active {
  box-shadow: 0 0 #2c0b8e;
  top: 5px;
}

.tramway {
  background: #f78940;
  box-shadow: 0 5px #fd7f2c;
  color: black;
}

.tramway:hover {
  box-shadow: 0 3px #fd7f2c;
  top: 1px;
}
.tramway:active {
  box-shadow: 0 0 #fd7f2c;
  top: 5px;
}
