@font-face {
  font-family: Oswald;
  src: url(../static/Oswald-Medium.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Oswald, sans-serif;
  font-size: 16px;
  text-align: center;
}

body {
  background-color: #1a1a1a;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
}

.nav .container {
  margin: 2px 0;
  width: 30%;
  height: 8vh;
  padding: 0 10px;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px 2px 10px;
  border: 3px solid aliceblue;
  background-color: #000;
}

.get-line {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
}

label {
  color: aliceblue;
  padding: 10px;
  font-size: 1.4rem;
}

select {
  text-align: center;
  color: black;
  font-size: 1.1rem;
  text-align: center;
  height: 40px;
}

#line_schedule {
  width: 250px;
}

button {
  width: 7rem;
  height: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.schedule {
  grid-column: 1;
  grid-row: 2;
  /* height: 80vh; */
  display: flex;
  flex-wrap: nowrap;
  margin-top: 2rem;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.schedule .table {
  width: 90%;
  /* max-height: 95%; */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  border: 5px solid black;
  background-color: aliceblue;
}

.schedule_header,
.rows {
  margin: 5px;
  display: flex;
  width: 70rem;
}

.schedule_header {
  justify-content: space-between;
  position: fixed;
  top: 5.6rem;
  left: 7.4rem;
  height: 3rem;
  border: 4px solid black;
  border-bottom: 0;
}

.schedule_header > div {
  font-size: 1.4rem;
  font-weight: bold;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.rows {
  flex-direction: column;
  margin-block: 3.5rem;
  max-height: 90%;
  overflow-y: auto;
  border: 0;
}

.rows.full {
  border: 4px solid black;
}

::-webkit-scrollbar {
  width: 3px;
  /* background-color: aliceblue; */
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: aliceblue;
}

::-webkit-scrollbar-thumb {
  /* background: aliceblue; */
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  min-height: 3.3rem;
  /* border-bottom: 4px solid black; */
}

.row:first-child {
  border-bottom: 4px solid black;
  width: 100%;
}

.rows > .row:last-child {
  border-bottom: 0;
}

.row div:nth-child(1),
.row div:nth-child(2) {
  min-width: 35%;
}

.row > div:nth-child(3),
.row > div:nth-child(4) {
  min-width: 15%;
}

div.duration {
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-sizing: content-box; */
  /* margin-left: 3px; */
}

.value {
  width: 40% !important;
}

.cell,
.value {
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.actions button {
  background-color: #000000;
  color: aliceblue;
}

.actions button:hover {
  box-shadow: 0 3px aliceblue;
  top: 1px;
}

.row_duration:focus {
  background-color: aliceblue;
}
#confirm_all {
  margin-bottom: 10px;
  min-height: 2.5rem;
  background-color: aliceblue;
  color: #000;
  font-weight: bold;
}

#confirm_all:hover {
  box-shadow: 0 3px #000000;
  top: 1px;
}

#confirm_all:disabled {
  box-shadow: 0 0;
  cursor: not-allowed;
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

#confirm_all:disabled:hover {
  box-shadow: 0 0;
  cursor: not-allowed;
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  top: 0;
}
